node-red/vibration-jsonl-replay-flow.json
[
  {
    "id": "vibration-replay-tab",
    "type": "tab",
    "label": "Vibration 3 Motors JSONL MQTT Replay",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject-start-all",
    "type": "inject",
    "z": "vibration-replay-tab",
    "name": "start all motors replay",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 160,
    "wires": [
      [
        "file-read-motor-001",
        "file-read-motor-002",
        "file-read-motor-003"
      ]
    ]
  },
  {
    "id": "file-read-motor-001",
    "type": "file in",
    "z": "vibration-replay-tab",
    "name": "read MOTOR_001 JSONL",
    "filename": "/home/hwapyeong/smart_factory_vib_monitoring/data/jsonl/MOTOR_001_H_H_8_6204_1200_2048_200.jsonl",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 390,
    "y": 80,
    "wires": [
      [
        "split-motor-001"
      ]
    ]
  },
  {
    "id": "file-read-motor-002",
    "type": "file in",
    "z": "vibration-replay-tab",
    "name": "read MOTOR_002 JSONL",
    "filename": "/home/hwapyeong/smart_factory_vib_monitoring/data/jsonl/MOTOR_002_H_IR_8_6204_1200_2048_200.jsonl",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 390,
    "y": 160,
    "wires": [
      [
        "split-motor-002"
      ]
    ]
  },
  {
    "id": "file-read-motor-003",
    "type": "file in",
    "z": "vibration-replay-tab",
    "name": "read MOTOR_003 JSONL",
    "filename": "/home/hwapyeong/smart_factory_vib_monitoring/data/jsonl/MOTOR_003_H_OR_8_6204_1200_2048_200.jsonl",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 390,
    "y": 240,
    "wires": [
      [
        "split-motor-003"
      ]
    ]
  },
  {
    "id": "split-motor-001",
    "type": "split",
    "z": "vibration-replay-tab",
    "name": "MOTOR_001 line by line",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 650,
    "y": 80,
    "wires": [
      [
        "remove-empty-motor-001"
      ]
    ]
  },
  {
    "id": "split-motor-002",
    "type": "split",
    "z": "vibration-replay-tab",
    "name": "MOTOR_002 line by line",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 650,
    "y": 160,
    "wires": [
      [
        "remove-empty-motor-002"
      ]
    ]
  },
  {
    "id": "split-motor-003",
    "type": "split",
    "z": "vibration-replay-tab",
    "name": "MOTOR_003 line by line",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 650,
    "y": 240,
    "wires": [
      [
        "remove-empty-motor-003"
      ]
    ]
  },
  {
    "id": "remove-empty-motor-001",
    "type": "function",
    "z": "vibration-replay-tab",
    "name": "skip empty line",
    "func": "if (typeof msg.payload === \"string\" && msg.payload.trim() === \"\") {\n    return null;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 80,
    "wires": [
      [
        "json-parse-motor-001"
      ]
    ]
  },
  {
    "id": "remove-empty-motor-002",
    "type": "function",
    "z": "vibration-replay-tab",
    "name": "skip empty line",
    "func": "if (typeof msg.payload === \"string\" && msg.payload.trim() === \"\") {\n    return null;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 160,
    "wires": [
      [
        "json-parse-motor-002"
      ]
    ]
  },
  {
    "id": "remove-empty-motor-003",
    "type": "function",
    "z": "vibration-replay-tab",
    "name": "skip empty line",
    "func": "if (typeof msg.payload === \"string\" && msg.payload.trim() === \"\") {\n    return null;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 240,
    "wires": [
      [
        "json-parse-motor-003"
      ]
    ]
  },
  {
    "id": "json-parse-motor-001",
    "type": "json",
    "z": "vibration-replay-tab",
    "name": "parse MOTOR_001 JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1110,
    "y": 80,
    "wires": [
      [
        "delay-motor-001"
      ]
    ]
  },
  {
    "id": "json-parse-motor-002",
    "type": "json",
    "z": "vibration-replay-tab",
    "name": "parse MOTOR_002 JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1110,
    "y": 160,
    "wires": [
      [
        "delay-motor-002"
      ]
    ]
  },
  {
    "id": "json-parse-motor-003",
    "type": "json",
    "z": "vibration-replay-tab",
    "name": "parse MOTOR_003 JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1110,
    "y": 240,
    "wires": [
      [
        "delay-motor-003"
      ]
    ]
  },
  {
    "id": "delay-motor-001",
    "type": "delay",
    "z": "vibration-replay-tab",
    "name": "MOTOR_001 1 msg/sec",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1350,
    "y": 80,
    "wires": [
      [
        "mqtt-out-vibration-window",
        "debug-motor-001"
      ]
    ]
  },
  {
    "id": "delay-motor-002",
    "type": "delay",
    "z": "vibration-replay-tab",
    "name": "MOTOR_002 1 msg/sec",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1350,
    "y": 160,
    "wires": [
      [
        "mqtt-out-vibration-window",
        "debug-motor-002"
      ]
    ]
  },
  {
    "id": "delay-motor-003",
    "type": "delay",
    "z": "vibration-replay-tab",
    "name": "MOTOR_003 1 msg/sec",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1350,
    "y": 240,
    "wires": [
      [
        "mqtt-out-vibration-window",
        "debug-motor-003"
      ]
    ]
  },
  {
    "id": "mqtt-out-vibration-window",
    "type": "mqtt out",
    "z": "vibration-replay-tab",
    "name": "publish vibration window",
    "topic": "factory/motor/1/vibration/window",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-local",
    "x": 1630,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug-motor-001",
    "type": "debug",
    "z": "vibration-replay-tab",
    "name": "MOTOR_001 debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.equipmentId",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1610,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug-motor-002",
    "type": "debug",
    "z": "vibration-replay-tab",
    "name": "MOTOR_002 debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.equipmentId",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1610,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug-motor-003",
    "type": "debug",
    "z": "vibration-replay-tab",
    "name": "MOTOR_003 debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.equipmentId",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1610,
    "y": 280,
    "wires": []
  },
  {
    "id": "mqtt-broker-local",
    "type": "mqtt-broker",
    "name": "local mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  }
]
